<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.typeahead.css')}}">

    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <!--script src="../dist/jquery.typeahead.min.js"></script-->
    <script src="{{url_for('static', filename='js/jquery.typeahead.js')}}"></script>

</head>
<body>
{% raw %}
<div style="width: 100%; max-width: 800px; margin: 0 auto;">

    <h1>User_v1 Demo</h1>

    <ul>
        <li>
            <a href="http://www.runningcoder.org/jquerytypeahead/documentation/">Documentation</a>
        </li>
        <li>
            <a href="http://www.runningcoder.org/jquerytypeahead/demo/">Demos</a>
        </li>
    </ul>

    <form action="/view_results">
        <div class="typeahead__container">
            <div class="typeahead__field">

            <span class="typeahead__query">
                <input type="hidden" value="ss" name="flag">
                <input id="search-f" class="js-typeahead"
                       name="at_10"
                       type="search"
                       autofocus
                       autocomplete="off">
            </span>
            <span class="typeahead__button">
                <button type="submit">
                    <span class="typeahead__search-icon"></span>
                </button>
            </span>

            </div>
        </div>
    </form>

    <script>

        $.typeahead({
            input: '#search-f',
            minLength: 0,
            order: "asc",
            dynamic: true,
            delay: 500,
            backdrop: {
                "background-color": "#fff"
            },
            template: function (query, item) {

                var color = "#777";
                if (item.status === "owner") {
                    color = "#ff1493";
                }
                return '<span class="row">' +
                        '<a href="{{url}}">{{scientific_name}}' +
                        "</a>" +
                        "</span>"
//                return '<span class="row">' +
//                        '<span class="avatar">' +
//                        '<img src="{{avatar}}">' +
//                        "</span>" +
//                        '<span class="username">{{username}} <small style="color: ' + color + ';">({{status}})</small></span>' +
//                        '<span class="id">({{id}})</span>' +
//                        "</span>"
            },
            emptyTemplate: "no result for {{query}}",
            source: {
                user: {
                    display: "scientific_name",
                    href: "{{url}}",

                    ajax: {
                        "url": "/async/scientific_name/{{query}}"
                    }
                }
            },
            callback: {
                onClick: function (node, a, item, event) {

                    // You can do a simple window.location of the item.href
//                    alert(JSON.stringify(item.url));
//                    window.open(item.url);
                    window.location.href =[ selectedName ]+".php";
                },
                onSendRequest: function (node, query) {
                    console.log('request is sent')
                },
                onReceiveRequest: function (node, query) {
                    console.log('request is received')
                }
            },
            debug: true
        });
        document.getElementById('search-f').addEventListener('input',function(ev){/*alert(ev.target.value);*/},false);
        setTimeout(function(){$('#search-f').focus();}, 10);
    </script>

</div>
{% endraw %}
</body>
</html>